<h1>Groups</h1>

<ul>
  <% for group in @groups %>
    <li><%= link_to group.cn, {:action => 'show', :id => group} %></li>
  <% end %>
</ul>

<%= link_to 'New Group', :action => 'new' %>
<br><br>
<%= link_to 'Back', :controller => 'welcome' %>
