<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<fieldset>
<% form_for :group do |f| %>
  Name:<br/>
  <%= f.text_field :cn %>
  <br/>
  GID:<br/>
  <%= f.text_field :gidNumber %>
  <br/><br/>
  <%= submit_tag %>
<% end %>
</fieldset>
