<h1>Group Manager System</h1>

<%= link_to 'Groups', :controller => 'groups' %>
<br>
<br>
<%= link_to 'Users', :controller => 'user' %>
<br>
<br>
<%= link_to 'Logout', :controller => 'login', :action => 'logout' %>
