<h1>Group Manager</h1>

- <%= link_to 'Groups Manager', :controller => 'groups' %>
<br>
<br>
- <%= link_to 'Users Manager', :controller => 'user' %>
<br>
<br>
<%= link_to 'Logout', :controller => 'login', :action => 'logout' %>
