<h1>Usuário</h1>

<% if @users.empty? -%>
<b>Nenhum usuário encontrado</b>
<% else -%>
    <ul>
    <% @users.each do |user| -%>
        <li><b><%= user.uid %>:</b>  <%= user.cn %></li>
    <% end -%>
    </ul>
<% end -%>

<%= link_to 'New User', :action => 'new' %>
<br><br>
<%= link_to 'Back', :controller => 'welcome' %>
